name: Build

on: [pull_request]

jobs:
  build-m2:
    strategy:
      # do not cancel other builds if one fails
      fail-fast: false
      matrix:
        os: [windows-2019, macos-11]

    runs-on: ${{ matrix.os }}
    timeout-minutes: 20

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          
      - name: Build with Maven on Windows
        if: matrix.os == 'windows-2019'
        run: ./mvnw.cmd -B -Pm2 clean verify --file pom.xml
      
      - name: Build with Maven on Mac
        if: matrix.os == 'macos-11'
        run: ./mvnw -B -Pm2 clean verify --file pom.xml

  build-p2:
    strategy:
      # do not cancel other builds if one fails
      fail-fast: false
      matrix:
        os: [windows-2019, macos-11]

    runs-on: ${{ matrix.os }}
    timeout-minutes: 20

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          
      - name: Build with Maven on Windows
        if: matrix.os == 'windows-2019'
        run: ./mvnw.cmd -B -Pp2 clean verify --file pom.xml
      
      - name: Build with Maven on Mac
        if: matrix.os == 'macos-11'
        run: ./mvnw -B -Pp2 clean verify --file pom.xml
